.button {
	padding: .4em .6em;

	&.button-important {

		@media (max-width: 470px){
			margin-bottom: .3em;
			width: 100%;
		}

		text-align: center;
	}
}

.flex-col {
	.flex-col-text{
		flex: 0 0 65%;
	}

	.flex-col-icon {
		@include circle($mobile-images-size);
	}

	&:nth-child(2n){
		.flex-col-icon {
			order: -1;
		}
	}
}

#main {
	padding: $mobile-primary-padding;
}

.main-container {
	width: 100%;

	@media (min-width: 430px) and (max-width: 539px){
		width: 90%;
	}

	@media (min-width: 540px) and (max-width: 599px){
		width: 80%;
	}

	@media (min-width: 600px) and (max-width: 765px){
		width: 70%;
	}

	.main-logo {
		@include square($mobile-logo-size);
		margin-top: $mobile-primary-margin;
	}

	.main-nav {
		justify-content: space-around;
	}

	// override normalize sizes
	h1 {
		font-size: $mobile-primary-font-size;
		line-height: $mobile-primary-line-height;
	}
}

#how {
	padding: $mobile-primary-padding;
}

.how-container {
	width: 100%;

	@media (min-width: 430px) and (max-width: 539px){
		width: 90%;
	}

	@media (min-width: 540px) and (max-width: 599px){
		width: 80%;
	}

	@media (min-width: 600px) and (max-width: 765px){
		width: 70%;
	}

	// override normalize sizes
	h1 {
		font-size: $mobile-primary-font-size;
		line-height: $mobile-primary-line-height;
	}

	h2 {
		font-size: $mobile-secondary-font-size;
		line-height: $mobile-secondary-line-height;
	}

	p {
		font-size: $mobile-tertiary-font-size;
		line-height: $mobile-tertiary-line-height;
	}
}

#description {
	padding: $mobile-primary-padding;
}

.description-container {
	width: 100%;

	@media (min-width: 430px) and (max-width: 539px){
		width: 90%;
	}

	@media (min-width: 540px) and (max-width: 599px){
		width: 80%;
	}

	@media (min-width: 600px) and (max-width: 765px){
		width: 70%;
	}

	.description-portrait {
		@include circle($mobile-images-size);
		margin-top: $mobile-primary-margin;
	}

	// override normalize sizes
	h1 {
		font-size: $mobile-primary-font-size;
		line-height: $mobile-primary-line-height;
	}
}

.powered-container {
	p {
		font-size: $mobile-primary-font-size;
		line-height: $mobile-primary-line-height;
	}
}
